<div class="sideBar">
    <div class="top">
        <div class="home">
            <img class="img" src="../../assets/StudentView/house.png">
            <p class="text">Home</p>
        </div>
        <div class="dashboard">
            <img class="img" src="../../assets/StudentView/server.rack.png" alt="">
            <p class="text">Dashboard</p>
        </div>
        <div class="myCourses">
            <img class="img" src="../../assets/StudentView/highlighter.png">
            <p class="text">My Courses</p>
        </div>
    </div>
    <div class="settings">
        <img class="img" src="../../assets/StudentView/gear.circle.png">
            <p class="text">Setting</p>
    </div>
</div>
