<!-- Include Angular Material components (not necessary)-->
<nav class="navbar">
    <div class="left-section">
      <!-- Logo -->
      <img src="assets/logo.png" alt="Logo" class="logo">
  
      <!-- Brand Text -->
      <span class="brand-text">Adaptive Learning Platform</span>
    </div>
  
    <div class="right-section">
      <!-- Navigation Links -->
      <a routerLink="/about-us" class="nav-link">About Us</a>
      <a routerLink="/contact-us" class="nav-link">Contact Us</a>
    </div>
  </nav>
  
