<section>
    <app-header></app-header>
    <div class="body">
        <div class="title">
            <h2>Courses</h2>
        </div>
        <div class="content">
            <!-- <div routerLink="/instructor-class" class="class1">
                <p>Swift</p>
            </div>
            <div class="class2"></div> -->
            <div class="addClass" routerLink="/instructor-class">
                <img src="../../assets/plus.png" alt="plus">
                <h3>Create Class</h3>
            </div>

        </div>
    </div>
</section>