@font-face {
    font-family: Nico;
    src: url("../../fonts/NicoMoji-Regular.ttf");
  }
section{
    background-image: url(../../assets/home.png);
    /* filter: blur(1px); */
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.body{
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}
.body h2{
    color: white;
    font-size: xx-large;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.class1, .class2{
    margin: 10px;
    background-color: white;
    width: 220px;
    height: 235px;
    border-radius: 20px;
}
.class1{
    background-image: url("../../assets/swift.png");
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.class1 p{
    color: white;
    font-size: x-large;
    font-weight: bold;
}
.addClass{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.315);
    width: 220px;
    height: 235px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.addClass h3{
    margin-top: 0px;
    color: white;
    font-size: x-large;
}
.addClass img{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}