@font-face {
    font-family: Nico;
    src: url("../../fonts/NicoMoji-Regular.ttf");
  }
section{
    background-image: url(../../assets/home.png);
    /* filter: blur(1px); */
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.back{
    width: 80px;
    color: white;
    font-size: larger;
    text-align: center;
    margin: 20px;
}
.back:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
}
.line{
    width: 500px;
    height: 2px;
    background-color: #FFF;
    margin-top: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.body{
    text-align: center;
}
.body h2{
    color: white;
    font-size: xx-large;
    margin-bottom: 0;
}
.content{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}
.left{
    width: 15vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.addCom, .analytics{
    width: 15vw;
    height: 25vh;
    background-color: #ffffff30;
}
.addCom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 2vh;
}
.addCom h3{
    margin-top: 0;
}
.addCom img{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.analytics h3{
    padding-top: 100px;
}
.middle{
    width: 40vw;
    height: 20vw;
    background-color: #ffffff30;
}
.middle h3{
    margin-top: 10px;
}
.right{
    width: 15vw;
    height: 50vh;
    background-color: #ffffff30;
}
.right h3{
    margin-top: 10px;
}
.right ul{
    text-align: left;
}