<section>
    <app-header></app-header>
    <div class="back" routerLink="/instructor">
        <p>< Back</p>
    </div>
    <div class="body">
        <h2>{{ courseName }}</h2>
        <div class="line"></div>
        <div class="content">
            <div *ngFor="let lessonPlan of lessonPlans" class="lesson-box">
                <!-- Add the following inside the ngFor loop -->
                <div *ngFor="let lessonPlan of lessonPlans" class="lesson-box">
                    <p>{{ lessonPlan.subjectName }}</p>
                    <!-- Add a routerLink to navigate to lesson details -->
                    <div class="view-details" [routerLink]="['/lesson-details', lessonPlan._id]">View Details</div>
                </div>

            </div>
        </div>
    </div>
</section>
