/* .offer-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  .offer-box h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .offer-box p {
    font-size: 1.2rem;
  } */
  
  .offer-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 200px; /* Set a fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5; /* Neutral color */
  }
  
  .offer-box h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; /* Dark text color on neutral background */
  }
  
  .offer-box p {
    font-size: 1.2rem;
    color: #555; /* Slightly lighter text color */
  }
  