<!-- <div class="dashboard-header">
    <a routerLink="/home"> <h1>- DeepLearn -</h1></a>
  </div> -->
  
  <!-- <div class="welcome-section">
    <h2>Instructor Dashboard</h2>
    <h3>Welcome, [Instructor Name]!</h3> -->
    <!-- Replace [Instructor Name] with the actual instructor's name -->
  <!-- </div> -->
  
  <!-- instructor.component.html -->

<div class="dashboard-header">
    <h1>Instructor Dashboard - DeepLearn</h1>
    <a routerLink="/home"><p>HomePage</p></a>
  </div>
  
  <div class="welcome-section">
    <h2>Welcome, [Instructor Name]!</h2>
    <!-- Replace [Instructor Name] with the actual instructor's name -->
  </div>
  
  <div class="class-management-section">
    <div class="class-overview-box">
        <h3>Class Overview</h3>
        <div class="class-list-box">
          <h4>Your Classes</h4>

<!-- Add a form to input new class details -->
<div class="add-class-form">
    <label for="newClassName">New Class Name:</label>
    <input type="text" id="newClassName" [(ngModel)]="newClassName" placeholder="Enter Class Name" name="newClassName">
    <button (click)="createClass()">Add Class</button>
  </div>
  

          <!-- Display a list of classes dynamically -->
          <div class="class-item" *ngFor="let className of classList" (click)="redirectToClassDashboard(className)">
            {{ className }}
          </div>
          <!-- If there are no classes, display a message -->
          <div *ngIf="classList.length === 0" class="no-class-message">No Class Available</div>
        </div>
      </div>
    
  
    <!-- <div class="class-list">
      <h4>Your Classes</h4>
      List of classes with key details and quick links
    </div> -->
  
    <div class="student-list">
      <h4>Students in Selected Class</h4>
      <!-- List of students in the selected class with key details -->
    </div>
  </div>
  