.chatbox-container {
    height: 65vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0px 5vw;
  }
  .profile-picture{
    padding: 10px 0px;
    padding-top: 3px;
  }
  .user-message, .ai-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .ai-message-container{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
  }
  .message-content{
    text-align: left;
  }
  .user-message-container{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
  }
  
  .user-message .profile-picture, .ai-message .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px; /* Adjusted margin for user messages */
    margin-right: 10px; /* Margin for AI messages */
    
  }
  
  .user-message {
    color: #ffffff;
    font-size: 30px;
    display: flex;
    justify-content: flex-start; /* Align user messages to the left */
    line-height: 1.2em;
  }
  
  .ai-message {
    color: #ffffff;
    justify-content: flex-start; /* Align AI messages to the left */
    font-size: 30px;
    line-height: 1.2em;
  }
  
  /* .message-content {
    Your existing styles for message content
  } */
  
  .input-container {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 5vw;
  }
  
  .input-container input {
    width: 85vw;
    background-color: rgba(0, 123, 255, 0);
    border: none;
  }
  
  .input-container button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    margin: 5px;
  }
  
  .submit {
    width: 30px;
    margin-top: 3px;
  }
  