.navBar{
    background-color: white;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title{
    margin-left: 10px;
}
.title p{
    font-size: 50px;
    color: rgb(20, 37, 97);
}

.right{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.profile{
    height: 50px;
    width: 50px;
    background-color: rgb(20, 37, 97);
    border-radius: 50%;
    margin-right: 5px;
}
.back p, a{
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(20, 37, 97);
    font-size: large;
    font-weight: bolder;
}
.back p:hover{
    background-color: rgb(20, 37, 97);
    color: white;
    border-radius: 20px

}